*, *::before, *::after { padding: 0; margin: 0; box-sizing: border-box; }
.question {
  font-size: 3rem;
  padding: 0 10rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: #6B717E;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: #FFE8E1;
}

.responses {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.responses div {
  font-size: 2rem;
  text-align: center;
  width: 40vw;
  padding: 1rem;
  font-family: "Playfair Display", serif;
  transition: .2s;
  cursor: pointer;
  position: relative;
  color: #6B717E;
}

.responses .covered::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 1rem;
  background: rgb(255, 219, 208);
  box-shadow: 3px 3px 3px black,
  inset 3px 3px white;
}

.xpage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background: rgb(0, 0, 0, .5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.xpage * {
  transform: rotate(45deg);
  color: red;
  font-size: 50rem;
}